.container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  align-content: flex-start;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 311px;
  width: 100%;
  border-radius: 24px;
  border: 2px dashed var(--slate-300, #cbd5e1);
  background: var(--slate-50, #f8fafc);
  position: relative;
  overflow: hidden;
  .uploadButtonWrapper {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    position: absolute;
    bottom: 4%;
    right: 6%;
    fill: var(--slate-200, #e2e8f0);
  }
}

.uploadedImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.imageContainer.hasImage {
  border: none; /* 이미지가 있으면 점선을 제거 */
}

.momoCotainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;

  width: 100%;
  height: 311px;

  border-radius: 24px;
  background: var(--yellow-50, #fefce8);

  .momoHead {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14%;
    color: var(--amber-800, #92400e);
    text-align: center;
  }
  .momoContent {
    color: var(--amber-800, #92400e);
    background: var(--yellow-50, #fefce8);
    width: 100%;
    height: 79%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    resize: vertical;
    outline: none;
    text-align: center;
  }
}

.buttonContainer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

@media (min-width: 1025px) {
  .container {
    padding: 0 50px;
  }
  .imageContainer {
    width: 38%;
    margin-right: 3%;
  }

  .momoCotainer {
    margin: 0;

    width: 58%;
  }

  .buttonContainer {
    justify-content: flex-end;
  }
}

.updateButton {
  width: 168px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 24px;
  border: 2px solid var(--slate-900, #0f172a);
  background: var(--slate-200, #e2e8f0);
  box-shadow: 3px 3px 1px black;
}

.deleteButton {
  width: 168px;
  height: 56px;
  border-radius: 24px;
  border: 2px solid var(--slate-900, #0f172a);
  background: var(--rose-500, #f43f5e);
  margin-left: 10px;
  box-shadow: 3px 3px 1px black;
}

.updateButton:hover {
  background: var(--slate-300, #cbd5e1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.deleteButton:hover {
  background: var(--rose-600, #f43f5e);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
